button {
    background-color: transparent !important;
    color: #bf40bf !important;
    border-color: #bf40bf !important;
}
.video-icon {
  color: white;
  background-color: #bf40bf;
  border-radius: 15%;
}
.navbar .nav-link:hover {
  color: #fff;
  background-color: #bf40bf;
}

